@charset "UTF-8";



body {
	overflow: hidden;
	background-color: #495140;
}

h1 {
	font-family: "logic-monospace", monospace;
  	font-weight: 300;
  	font-style: normal;
	letter-spacing: -2px;
	font-size: 16pt;
	color: white;
	padding: 7px 0;
	line-height: 0.9;
	position: relative;
	top: calc(50% - 25px); /* 50% - 3/4 of icon height */
}

h2 {
	font-family: "logic-monospace", monospace;
  	font-weight: 300;
  	letter-spacing: -2px;
	font-size: 12pt;
	color: white;
	padding: 7px 0;
	line-height: 0.9;
	position: relative;
	top: calc(50% - 15px); /* 50% - 3/4 of icon height */	
}

h3 {
	font-family: "logic-monospace", monospace;
  	font-weight: 300;
  	letter-spacing: -1px;
	font-size: 11pt;
	color: white;
	padding: 20px 0px 0px;
	line-height: 0.9;
	position: relative;
}

p {
	font-family: "logic-monospace", monospace;
  	font-weight: 300;
	letter-spacing: -1px;
	font-size: 10pt;
	color: white;
	text-align: center;	
	top: calc(50% - 20px); /* 50% - 3/4 of icon height */
}

a {
	color: white;
}

a:hover {
	color: white;
	font-style: normal;
	text-decoration: none;
	transition-timing-function: ease;
}
	
a.blur:hover {
	filter: blur(3px);
	font-style: normal;
	transition-timing-function: ease-in;
}

img.comma {
	height: 25px;
}


a.comma {
	filter: blur(1px);
}

a.comma:hover {
	filter: none;
	transition: 200ms;
	transition-timing-function: linear;
}

p.summary {
	font-family: "logic-monospace", monospace;
  	font-weight: 300;
	letter-spacing: -1.5px;
	font-size: 10pt;
	color: white;
	text-align: left;
	padding: 10px 20px 0;
}

p.navigation {
	color: #ffbaff;
}

p.navigation:hover {
	font-style: italic;
	text-decoration: underline;
}

p.navigation:active {
	color: #fff;
}

p.name {
	font-family: "logic-monospace", monospace;
  	font-weight: 300;
	letter-spacing: -1.5px;
	font-size: 10pt;
	color: white;
	text-align: center;	
	position: relative;
	line-height: 2;
}


div.handle {
 	position: relative;
	top: calc(50% - 10px); /* 50% - 3/4 of icon height */	
}


.col {
	outline: 0.1px dotted white;
	border-radius: 1px;
	width: 100%;
	padding: 0px;
}

.bio {
	outline: 0.1px dotted white;
}


.row {
	height: 100%;
}

.center {
	display: block;
	margin: auto;
}

.logo {
	display: block;
	margin: auto;
	padding-bottom: 5px;
}

div.social {
	height: 40px;
	outline: 1px dotted white;
	border-radius: 0px 0px 8px 8px;
	margin-top: 1px;
}

div.tab {
	outline: 1px dotted white;
	border-radius: 8px 8px 0px 0px;
	margin-bottom: 1px;
}

div.bio {
	max-height: 373px;
	overflow-y: scroll;
	scroll-margin: 10px 0px;
}

div.about {
	outline: 0px solid white;
	padding: 20px 0;
}

.grain {
    position: fixed;
	top: -200px;
	left: -200px;
    height: 50%;
    width: 25%;
	mix-blend-mode: multiply;
}
.grain:before {
     content: "";
     width: calc(100% + 150rem);
     height: calc(100% + 100rem);
     position: fixed;
     background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
     opacity: 0.25;
     pointer-events: none; 
}    

#draggable { 
	width: 150px;
	padding: 0.5em;
	z-index: 1;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e9ecef;
  margin: 10px 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  outline: 1px solid white;
  background: #e9ecef;
}


